
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demus.mapper.UserMapper">
    <resultMap id="userMap" type="com.demus.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_Name"/>
        <result property="userPassword" column="userPassword"/>
        <result property="userEmail" column="userEmail"/>
        <result property="userInfo" column="userInfo"/>
        <result property="headImg" column="headImg" jdbcType="BLOB"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="userMap">
        select * from sys_user where id =#{id}
    </select>

    <select id="selectAll" resultType="com.demus.model.SysUser">
        select * from sys_user
    </select>
</mapper>
